{% extends 'indexback.html.twig' %}

{% block body %}

	<body class="g-sidenav-show  bg-gray-200">

		<h1>Gestion des catégories</h1>

		<a href="{{ path('categorie_add') }}" class="btn btn-primary">Ajouter une catégorie</a>
		<a href="{{ path('produit_add') }}" class="btn btn-secondary">Ajouter un Produit</a>

		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card my-4">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
								<h6 class="text-white text-capitalize ps-3">Catégorie</h6>
							</div>
						</div>
						<div class="card-body px-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Delete</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Update</th>

											<th class="text-secondary opacity-7"></th>
										</tr>
									</thead>
									<tbody>
										{% for e in cats %}
											<tr>
												<td>
													<div class="d-flex px-2 py-1">

														<div class="d-flex flex-column justify-content-center">
															<h6 class="mb-0 text-sm">
																{{ e.id}}
															</h6>
														</div>
													</div>
												</td>
												<td>
													<p class="text-xs font-weight-bold mb-0">{{ e.nomC }}</p>
												</td>
												<td class="align-middle">
													<a href="{{ path('categorie_del' , {'id': e.id} ) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
														Delete
													</a>
												</td>
												<td class="align-middle">
													<a href="{{ path('cat_update' , {'id': e.id} ) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
														Update
													</a>
												</td>

											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</body>

{% endblock %}
