{% extends 'base.html.twig' %}
{% block title %}
	Forum
{% endblock %}
{% block body %}
	<body>


		<!-- Blog page -->
		<section class="blog-page">

			<div class="container">
				<div class="row">

					<div class="col-xl-9 col-lg-8 col-md-7">

						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="comments">

										{% for post in posts %}
											<div class="comment-box">
												<span class="commenter-pic"></span>
												<span class="commenter-name">
													<a href="#">{{post.user}}</a>
													<span class="comment-time">{{post.createdAt.format('d/m/Y-H:i')}}</span>
												</span>
												<p class="comment-txt more">{{post.titre}}</p>
												<p class="comment-txt more">{{post.content}}</p>
												<p class="comment-txt more">{{post.image}}</p>
												<div class="comment-meta">
													<button class="comment-like">
														<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
													</button>
													<button>
														<a href="{{ path ('modify_post', {'id': post.id})}}">
															Modifier
														</a>
													</button>
													<button>
														<a href="{{ path ('delete_post', {'id': post.id})}}">Supprimer
														</a>
													</button>
													<button class="comment-reply">
														<i class="fa fa-reply-all" aria-hidden="true"></i>
														<a href="{{ path ('add_comm') }}">
															Comment</a>
													</button>
												</div>
												<div class="comment-box replied">
													{% for comm in comms %}
														{% if comm.post.id == post.id %}
															<span class="commenter-pic"></span>
															<span class="commenter-name">
																<a href="#">{{comm.user}}</a>
																<span class="comment-time">{{comm.createdAt.format('d/m/Y-H:i')}}</span>
															</span>
															<p class="comment-txt more">{{comm.content}}</p>
															<p class="comment-txt more">{{comm.image}}</p>
															<div class="comment-meta">
																<button class="comment-like">
																	<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
																</button>
																<button>
																	<a href="{{ path ('modify_comm', {'id': comm.id})}}">
																		Modifier
																	</a>
																</button>
																<button>
																	<a href="{{ path ('delete_comm', {'id': comm.id})}}">
																		Supprimer
																	</a>
																</button>
															</div>
														{% endif %}
													{% endfor %}
												</div>
											{% endfor %}


										</div>
									</div>

									<button style="width:30%;" class="btn btn-light"></i>
									<a href="{{ path ('add_post') }}">
										Add Post</a>
								</button>


							</section>
							<!-- Blog page end-->
							<script>
								// Reply box popup JS
$(document).ready(function () {
$(".reply-popup").click(function () {
$(".reply-box").toggle();
});
});
							</script>


						</body>
					{% endblock %}
